<%
breadcrumb.add("Serviços", "/servicos")
%>

<h1>Serviços</h1>

<ul>
  <% @services.each do |s|%>
  <li>
    
    <a href="<%= service_path(s) %>" title="<%= s.title %>" rel="prettyPhoto" class="img-border">
      <% if s.pictures.first %>
        <%= picture(s.pictures.first,:medium) %> 
      <% end %>
    </a>
    
    <%= s.title %>
    <p><%= s.description %></p>
    
    <%= link_to "Ver", service_path(s) %>
  </li>
  <% end %>
<ul>
  
  <%= paginate(@services) %>
