<%
simple_menu.active = :services
%>
<!--Body content-->
<div class="full-width-wrapper">
    <div class="fixed-width-wrapper" id="body-content">
        <!--Content-->
        <div id="content" class="fixed-width-wrapper">
            <div class="header-text">
                <%= raw breadcrumb.add("Home","/").add("Serviços") %>
                <h1 class="first-word double-color sp">
                    <strong>Serviços</strong>
                </h1>
            </div>

            <div class="portfolio">
            
            <div class="portfolio-content three-column clear">
              
              
              
              <% @services.each do |s|%>
              <div class="block" >
                  <a href="<%=  service_path(s) %>" title="<%= s.title %>" rel="prettyPhoto" class="img-border">
                    <%= picture(s.pictures.first, :medium) %> 
                  </a>
                  <h3 class="first-word">
                    <a href="<%=  service_path(s) %>" title="Read more">
                      <%= s.title %>
                    </a>
                  </h3>
                  <p><%= s.description %></p>
                  <a class="read-more" href="<%=  service_path(s) %>" title="Read more">
                   Ver detalhe
                  </a>
                  <div class="sp">
                  </div>
              </div>
              <% end %>
            </div>
  
            <!--Pagination-->
            <div class="clear"></div>
 
          <div class="page-pagination clear fixed-width-wrapper">
            <%= paginate(@services) %>
          </div>
  
          </div>
        </div>
        <!--/Content-->
    </div>
</div>