<%
simple_menu.active = :services
%>
  
  
 <div class="full-width-wrapper">
            <div class="fixed-width-wrapper" id="body-content">
                <!--Content-->
                <div id="content" class="float-left content-left">
                    <div class="header-text">
                       <%= raw breadcrumb.add("Home", "/").add("Serviços", services_path).add(@service.title) %>
                        <h1 class="first-word double-color sp"><%= @service.title %></h1>
                    </div>
                    <div class="post entry-content">
                      <p><%= @service.description %></p>
                      <% unless @service.pictures.empty? %>
                        <h2>Fotos</h2>
                        <div class="images">
                          <div class="main">
                            <%= picture(@service.pictures.first) %>
                          </div>
                          <div class="thumbs">
                            <% @service.pictures.each do |picture| %>
                              <%= link_to picture.file.url(), :class => :img do %>
                                <%= picture(picture, :small) %>
                              <% end%> 
                            <% end %>
                          </div>
                        </div>
                        
                        <script type="text/javascript">
                          $('.images a.img').click(function(){
                            $('.images .main img').attr('src', $(this).attr('href'));
                            return false;
                          });
                        </script>
                      <% end %>
                    </div>
                </div>
                <!--/Content-->
               
            </div>
        </div>
        <!--/Body content-->
        <!--Footer Extra-->
       
       
       