<%
breadcrumb.add("Produtos", products_path)

if params[:type] == 'maquinas'
  breadcrumb.add("Máquinas")  
end

if params[:type] == 'pecas'
  breadcrumb.add("Peças")  
end

%>

<!--Body content-->
        <div class="full-width-wrapper">
            <div class="fixed-width-wrapper" id="body-content">
                <!--Content-->
                <div id="content" class="fixed-width-wrapper">
                    <div class="header-text">
                        <ul id="breadcrumbs">
                            <li>
                                <a href="#" title="">Home
                                </a>
                            </li>
                            <li class="current">
                                <a href="#" title="">Produtos
                                </a>
                            </li>
                        </ul>
                        <h1 class="first-word double-color sp">Produtos
                        </h1>
                    </div>

<div class="portfolio">

<div class="portfolio-content three-column clear">
  
  
  <div class="portfolio-main filter">
    <% simple_menu('filter').active = params[:type] || :all %>
    <% simple_menu('filter').add(:all,"Todos", products_path) %>
    <% simple_menu('filter').add(:maquinas, 'Somente Máquinas', products_path(:maquinas)) %>
    <% simple_menu('filter').add(:pecas, 'Somente Peças', products_path(:pecas)) %>
    <%= raw simple_menu('filter') %>
  </div>
  
  <% @products.each do |p|%>
  <div data-id="post-15" data-type="<%= p.type.name %>" class="block" >
      <a href="<%= product_path(p) %>" title="<%= p.name %>" rel="prettyPhoto" class="img-border">
        <% if p.pictures.first %>
          <%= picture(p.pictures.first,:medium) %> 
        <% end %>
      </a>
      <h3 class="first-word">
        <a href="<%= product_path(p) %>" title="Read more">
          <%= p.name %> (<%= p.type.name %> )
        </a>
      </h3>
      <p><%= p.application %></p>
      <a class="read-more" href=" <%= product_path(p) %>" title="Read more">
       Ver detalhe
      </a>
      <div class="sp">
      </div>
  </div>
  <% end %>
</div>
  
    <!--Pagination-->
    <div class="clear">
    </div>
    <div class="page-pagination clear fixed-width-wrapper">
        <a href="#" title="">Prev
        </a>
        <a href="#" title="">1
        </a>
        <a href="#" title="" class="current">2
        </a>
        <a href="#" title="">3
        </a>
        <a href="#" title="">4
        </a>
        <a href="#" title="">5
        </a>
        <span>...
        </span>
        <a href="#" title="">15
        </a>
        <a href="#" title="">Next
        </a>
    </div>
    
    <!--/Pagination-->
      <div class="page-pagination clear fixed-width-wrapper">  
        <%= paginate(@products) %>
      </div>
  
  </div>
</div>
        <!--/Content-->
        
    </div>
</div>

<!--/Body content-->

  
  

  
  
  
  
  
  