<%
simple_menu.active = :products


if params[:type] == 'maquinas'
  breadcrumb.add("Máquinas")  
end

if params[:type] == 'pecas'
  breadcrumb.add("Peças")  
end

%>

<!--Body content-->
        <div class="full-width-wrapper">
            <div class="fixed-width-wrapper" id="body-content">
                <!--Content-->
                <div id="content" class="fixed-width-wrapper">
                    <div class="header-text">
                        <%= raw breadcrumb.add("Home","/").add("Produtos") %>
                        <h1 class="first-word double-color sp">Produtos
                        </h1>
                    </div>

<div class="portfolio">

<div class="portfolio-content three-column clear">
  
  
  <div class="portfolio-main filter">
    <%
      simple_menu('filter').active = params[:category] || :all
      simple_menu('filter').add(:all,"Todos", products_path)
      
      Category.all.each do |category|
        simple_menu('filter').add(category.slug, category.name, product_category_path(category.slug))
      end
    %>
    <%= raw simple_menu('filter') %>
  </div>
  
  <% @products.each do |p|%>
  <div data-id="post-15" data-type="<%= p.type.name %>" class="block" >
      <a href="<%= product_path(p) %>" title="<%= p.name %>" class="img-border">
        <%= picture(p.pictures.first,:medium) %> 
      </a>
      <h3 class="first-word">
        <a href="<%= product_path(p) %>" title="Read more">
          <%= p.name %> (<%= p.type.name %> )
        </a>
      </h3>
      <p><%= p.application %></p>
      <a class="read-more" href=" <%= product_path(p) %>" title="Read more">
       Ver detalhe
      </a>
      <div class="sp">
      </div>
  </div>
  <% end %>
</div>
  
    <!--Pagination-->
    <div class="clear">
    </div>
 
    
    <!--/Pagination-->
      <div class="page-pagination clear fixed-width-wrapper">  
        <%= paginate(@products) %>
      </div>
  
  </div>
</div>
        <!--/Content-->
        
    </div>
</div>

<!--/Body content-->

  
  

  
  
  
  
  
  