<h1><%= @product.name %></h1>

<ul>
  <li>Tipo: <%= @product.type.name %></li>
  <li>Applicação: <%= @product.application %></li>
</ul>

<h2>Especificações técnicas</h2>

<ul>
<% @product.features.each do |feature| %>
  <li><%= feature.name %>: <%= feature.value %></li>
<% end %>
</ul>


<h2>Fotos</h2>
<p>O tamanho das fotos estão em app/models/Picture.rb. Podem ser alteradas.</p>
<ul>
  <li>Peso: 1 quilo</li>
  <li>Altura: 1 metro</li>
  <li>x: Y</li>
</ul>

