<%
simple_menu.active = :products

%>

<div class="full-width-wrapper">
  <div class="fixed-width-wrapper" id="body-content">
      <!--Content-->
      <div id="content" class="float-left content-left">
          <div class="header-text">
            <%= raw breadcrumb.add("Home", "/").add("Produtos", products_path).add(@product.name) %>
            <h1 class="first-word double-color sp"><%= @product.name %></h1>
          </div>
          <div class="post entry-content">
           
              
            <div class="topproduct">
              <div class="images main">
                <%= picture(@product.pictures.first, :medium) %>
              </div>
            
               <h2>Sobre o produto</h2>
            <p>
              <strong>Tipo:</strong> <%= @product.type.name %><br/>
              <strong>Applicação:</strong> <%= @product.application %>
            </p>
            <h2>Especificações técnicas</h2>
            <ul>
            <% @product.features.each do |feature| %>
              <li><strong><%= feature.name %>:</strong> <%= feature.value %></li>
            <% end %>
            </ul>

          </div>




            <% if @product.pictures && @product.pictures.length > 1%>
              <h2>Fotos</h2>
              <div class="images">
                <div class="thumbs">
                  <% @product.pictures.each do |picture| %>
                    <%= link_to picture.file.url(:medium), :class => :img do %>
                      <%= picture(picture, :small) %>
                    <% end%> 
                  <% end %>
                </div>
              </div>
  
              <script type="text/javascript">
                $('.images a.img').click(function(){
                  $('.images.main img').attr('src', $(this).attr('href'));
                  return false;
                });
              </script>
            <% end %>
          </div>
          
          <% if @product.video && !@product.video.empty? %>
          <h2>Veja um vídeo deste produto</h2>
          <div id="home">
            <iframe width="420"
                    height="315"
                    src="http://www.youtube.com/embed/<%= @product.video %>?rel=0&controls=2&showinfo=0&theme=light&=1"
                    frameborder="0"
                    allowfullscreen>
            </iframe>
          </div>
          <% end %>
      </div>
      <!--/Content-->
      <!--Sidebar-->
      
      <% unless @product.products.empty? %>
        <div id="sidebar" class="float-right">
          <!--box-->
          <div class="box">
            <h2 class="first-word double-color sp">Veja 
              as peças de reposição</h2>
            <ul class="list cat">
            <% classification_id = nil %>
            <% @product.products.each do |product| %>
              <% if classification_id != product.classification_id %>
                <% classification_id = product.classification_id %>
                <li class="title" data-hide="<%= product.classification.name.parameterize %>"><%= product.classification.name %></li>
              <% end %>  
              <li class="toggable <%= product.classification.try(:name).try(:parameterize) %>">
                  <%= link_to(product.name,product_path(product))  %>
              </li>
            <% end %>
            </ul>
          </div>
          <!--/box-->
      </div>
      <% end %>
      <!--/Sidebar-->
  </div>
</div>
<!--/Body content-->
<!--Footer Extra-->


