<%
breadcrumb.add("Produtos", "/produtos")
breadcrumb.add(@product.type.name, product_type_path(@product.type.slug))
breadcrumb.add(@product.name)
%>

<h1><%= @product.name %></h1>

<ul>
  <li>Tipo: <%= @product.type.name %></li>
  <li>Applicação: <%= @product.application %></li>
</ul>

<h2>Especificações técnicas</h2>

<ul>
<% @product.features.each do |feature| %>
  <li><%= feature.name %>: <%= feature.value %></li>
<% end %>
</ul>


<% if @product.pictures %>
  <h2>Fotos</h2>
  
  <div class="images">
    <div class="main">
      <%= picture(@product.pictures.first) %>
    </div>
    <div class="thumbs">
      <% @product.pictures.each do |picture| %>
        <%= link_to picture.file.url(), :class => :img do %>
          <%= picture(picture, :small) %>
        <% end%> 
      <% end %>
    </div>
  </div>
  
  <script type="text/javascript">
    $('.images a.img').click(function(){
      $('.images .main img').attr('src', $(this).attr('href'));
      return false;
    });
  </script>
<% end %>