<% content_for(:title){ 'Home' } %>

<!--Slider-->
<div class="clear" id="slider-bg">
    <div class="full-width-wrapper" id="slider-frame">
        <div class="fixed-width-wrapper maxx-theme" id="slider-wrapper">
            <div id="slider" class="nivoSlider">
                <a href="#">
                    <img src="/assets/pix/slide1.jpg" alt="" title="#htmlcaption">
                </a>
                <a href="#">
                    <img src="/assets/pix/slide2.jpg" alt="" title="">
                </a>
                <a href="#">
                    <img src="/assets/pix/slide3.jpg" alt="" title="#htmlcaption2">
                </a>
                <a href="#">
                    <img src="/assets/pix/slide4.jpg" alt="" title="">
                </a>
                <a href="#">
                    <img src="/assets/pix/slide5.jpg" alt="" title="#htmlcaption3">
                </a>
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <h1>Lorem ipsum dolor sit amet
                </h1>
                <strong>This
                </strong> is an example of a 
                <em>HTML
                </em> caption with 
                <a href="#">a link
                </a>.                
            </div>
            <div id="htmlcaption2" class="nivo-html-caption">
                <h1>Lorem ipsum dolor sit amet
                </h1>
                <strong>This
                </strong> is an example of a 
                <em>HTML
                </em> caption with 
                <a href="#">a link
                </a>.                
            </div>
            <div id="htmlcaption3" class="nivo-html-caption">
                <h1>Lorem ipsum dolor sit amet
                </h1>
                <strong>This
                </strong> is an example of a 
                <em>HTML
                </em> caption with 
                <a href="#">a link
                </a>.                
            </div>
        </div>
    </div>
</div>
<!--/Slider-->
<!--Body content-->
<div class="full-width-wrapper">
    <div class="fixed-width-wrapper body-divider " id="body-content">
        <!--Entry-->
        <div class="entry three-column fixed-width-wrapper">
            <!--block-->
            <div class="block type1">
                <h1 class="first-word double-color">Quem somos?</h1>
                <div class="content">
                    <a href="#" title="" class="preloading-light img-border align-none">
                        <img src="/assets/pix/slide1.jpg" width="280" alt="">
                    </a>
                    <div class="clear">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        <a href="#" class="tipMe" title="This is a tooltip">This is a tooltip 
                        </a>, nibh ut feugiat placerat, orci lacus accumsan erat, eget porttitor arcu velit a lacus.
                    </p>
                    <p>Sed tempus bibendum risus, nec dignissim sem vestibulum ut. Nam iaculis aliquam elementum. Nunc sed dignissim sapien. 
                    </p>
                </div>
                <a class="read-more" href="#" title="Read more">Read more
                </a>
            </div>
            <!--/block-->
            <!--block-->
            <div class="block type2">
                <h1 class="first-word double-color">Produtos</h1>
                <div class="content">
                    <ul class="zigzag list">
                      <% align = 'align-left' %>
                      <% home_products.each do |product|%>
                        <% align = align == 'align-left' ? 'align-right' : 'align-left' %>
                        <li>
                          <%= picture(product.pictures.first, :thumb, {:class => align }) %>
                          <strong><%= product.name %></strong>
                          <span><%= product.application %></span>
                          <%=  link_to "detalhes", product_path(product)%>
                        </li>
                      <% end %>
                    </ul>
                </div>
                <%=  link_to "detalhes", products_path, :class => 'read-more', :title => 'Ler mais' %>
                </a>
            </div>
            <!--/block-->
            <!--block-->
            <div class="block type3">
                <h1 class="first-word double-color">Nossos serviços</h1>
                <div class="content">
                    <p>Nullam vel tincidunt ligula. Donec ligula mauris, vehicula quis feugiat at, consequat ut velit. Praesent vestibulum orci vitae nibh cursus vulputate. Donec aliquam laoreet commodo. Praesent vestibulum orci vitae nibh.
                    </p>
                    <ul class="list point">
                      <% counter = 0 %>
                      <% home_services.each do |service|%>
                        <% counter += 1 %>
                        <li>
                          <%=  link_to  service_path(service) do %>
                            <em><%= counter %></em><%= service.title %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                </div>
                <%=  link_to "detalhes", services_path, :class => 'read-more', :title => 'Ler mais' %>
                </a>
            </div>
            <!--/block-->
        </div>
        <!--/Entry-->
        
    </div>
</div>
<!--/Body content-->
<!--Footer Extra-->
<div class="full-width-wrapper" id="footer-extra-wrapper">
    <div class="fixed-width-wrapper">
        <div id="copyright">
            <a href="#" class="logo float-left" title="">
                <img src="/assets/logo-footer.png" alt="">
            </a>
            <ul>
                <li>(r) 2012 Marca Registrada</li>
            </ul>
            <a href="#" class="back-to-top sprite" title="Back to top">Topo</a>
        </div>
    </div>
</div>
<!--/Footer Extra-->