<% content_for(:title){ 'Home' } %>
<% simple_menu.active = :home %>

<!--Body content-->
<div class="full-width-wrapper">
    <div class="fixed-width-wrapper body-divider " id="body-content">
        <!--Entry-->
        <div class="entry three-column fixed-width-wrapper">
            <!--block-->
            <div class="block type1">
                <h1 class="first-word double-color">Quem somos?</h1>
                <div class="content">
                    <a href="/sobre-a-empresa.html" title="RUPPENTHAL & RUPPENTHAL" class="preloading-light img-border align-none">
                        <img src="/assets/pix/slide1-min.jpg" width="280" alt="RUPPENTHAL & RUPPENTHAL">
                    </a>
                    <div class="clear">
                    </div>
                    <p>A RUPPENTHAL & RUPPENTHAL 
                        é uma empresa do ramo metalúrgico
                        que têm suas atividades direcionadas
                        para construção mecânica de máquinas
                        e equipamentos para a indústria. Fundada em 2011 está
                        localizada no importante pólo industrial do Vale do Sinos
                        em Novo Hamburgo/RS.
                </div>
                <a class="read-more" href="<%= static_path('sobre-a-empresa') %> " title="Saba Mais">Saiba Mais</a>
            </div>
            <!--/block-->
            <!--block-->
            <div class="block type2">
                <h1 class="first-word double-color">Produtos</h1>
                <div class="content">
                    <ul class="zigzag list">
                      <% align = 'align-left' %>
                      <% home_products.each do |product|%>
                        <% align = (align == 'align-left') ? 'align-right' : 'align-left' %>
                        <li>
                          <%= picture(product.pictures.first, :thumb, {:class => align }) %>
                          <strong><%= product.name %></strong>
                          <span><%= product.application %></span>&nbsp;&nbsp;
                          <%=  link_to "detalhes", product_path(product)%>
                        </li>
                      <% end %>
                    </ul>
                </div>
                <%=  link_to "detalhes", products_path, :class => 'read-more', :title => 'Saiba mais' %>
            </div>
            <!--/block-->
            <!--block-->
            <div class="block type3">
                <h1 class="first-word double-color">Nossos serviços</h1>
                <div class="content">
                    <p>A empresa apresenta soluções em projetos e construção de equipamentos
                    baseado na otimização e na eficiência de funcionamento destes,
                    em como na automação e racionalização do processo, sempre buscando a racionalização
                    de mão de obra, aumento de produtividade e economia de recursos.
                    </p>
                    <ul class="list point">
                      <% counter = 0 %>
                      <% home_services.each do |service|%>
                        <% counter += 1 %>
                        <li>
                          <%=  link_to  service_path(service) do %>
                            <em><%= counter %></em><%= service.title %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                </div>
                <%=  link_to "detalhes", services_path, :class => 'read-more', :title => 'Ler mais' %>
                </a>
            </div>
            <!--/block-->
        </div>
        <!--/Entry-->
        
    </div>
</div>
<!--/Body content-->