<% content_for(:title){ 'Home' } %>
<% simple_menu.active = :home %>

<!--Body content-->
<div class="full-width-wrapper">
    <div class="fixed-width-wrapper body-divider " id="body-content">
        <!--Entry-->
        <div class="entry three-column fixed-width-wrapper">
            <div id="home-banner">
              <div class="banner" style="background: red; width: 100%; height: 100%; float:left;"></div>
              <div class="banner" style="background: blue; width: 100%; height: 100%; float:left;"></div>
              <div class="banner" style="background: green; width: 100%; height: 100%; float:left;"></div>
            </div>
          
            <!--block-->
            <div class="block type1">
                <h1 class="first-word double-color">Quem somos?</h1>
                <div class="content">
                    <a href="/sobre-a-empresa.html" title="RUPPENTHAL & RUPPENTHAL" class="preloading-light img-border align-none">
                        <img src="/assets/pix/slide1-min.jpg" width="280" alt="RUPPENTHAL & RUPPENTHAL">
                    </a>
                    <div class="clear">
                    </div>
                    <p>A RUPPENTHAL & RUPPENTHAL 
                        é uma empresa do ramo metalúrgico
                        que têm suas atividades direcionadas
                        para construção mecânica de máquinas
                        e equipamentos para a indústria. Fundada em 2011 está
                        localizada no importante pólo industrial do Vale do Sinos
                        em Novo Hamburgo/RS.
                </div>
                <a class="read-more" href="<%= static_path('sobre-a-empresa') %> " title="Saba Mais">Saiba Mais</a>
            </div>
            <!--/block-->
            
            <!--block-->
            <div class="float-right">
                <%= home_video %>
            </div>
            <!--/block-->
            
            
            <!--block-->
            
            <section class="home-products">
              <header><h1 class="first-word double-color">Produtos</h1></header>
              
              <% home_products.each do |product|%>
                <article>
                    <header>
                      <%= link_to product_path(product) do %>
                        <%= picture(product.pictures.first, :thumb) %>
                      <% end %>  
                      
                      <%= link_to product_path(product) do %>
                        <h2><%= product.name %></h2>
                      <% end %>
                    </header>
                  <%= link_to product_path(product) do %>  
                    <p><%= product.application %></p>
                  <% end %>
                </article>
              <% end %>
              
            </section>
            <!--/block-->
        </div>
        <!--/Entry-->
        
    </div>
</div>
<!--/Body content-->