<% content_for(:title){ 'Home' } %>
<% simple_menu.active = :home %>

<!--Body content-->
<div class="full-width-wrapper">
    <div class="fixed-width-wrapper body-divider " id="body-content">
        <!--Entry-->
        <div class="entry three-column fixed-width-wrapper">
            <div id="home-banner">
              <% %w(01 06 07 08 09 10 11).each do |banner| %>
                <div class="banner <%= 'hidden' unless (banner == '01')%>"><%= image_tag("banners/#{banner}.jpg")%></div>
              <% end %>
            </div>

            <div class="row">
              <!--block-->
              <article class="span6">
                  <h1 class="double-color">Conheça a Ruppenthal Maschinen</h1>
                  <div class="content">
                      <a href="/sobre-a-empresa.html" title="RUPPENTHAL & RUPPENTHAL" class="preloading-light img-border align-none">
                          <img src="/assets/pix/slide1-min.jpg" width="430" alt="RUPPENTHAL & RUPPENTHAL">
                      </a>
                      <div class="clear">
                      </div>

                      <%= simple_format snippet('home.descricao') %>
                  </div>
                  <a class="read-more" href="<%= static_path('sobre-a-empresa') %> ">Saiba Mais</a>
              </article>
              <!--/block-->

              <!--block-->
              <% if home_video %>
                <aside class="float-right span6">
                    <h1 class="double-color float-right">Veja um vídeo de nossos produtos</h1>
                    <%= home_video %>
                </aside>
              <% end %>
              <!--/block-->
            </div>


            <div class="row">
              <!--block-->

              <section class="span6 left products">
                <header><h1 class="double-color">Produtos</h1></header>

                <% home_products.each do |product|%>
                  <article>
                      <header>
                        <%= picture(product.pictures.first, :small) %>
                        <h2><%= product.name %></h2>
                      </header>
                      <p><%= product.application %></p>

                      <%= link_to("Veja Mais", product_path(product), class: 'read-more', alt: 'Veja Mais') %>
                  </article>
                <% end %>

              </section>

              <section class="span6 right services">
                <header><h1 class="double-color">Serviços</h1></header>

                <% home_services.each do |service|%>
                  <article>
                      <header>
                          <%= picture(service.pictures.first, :small) %>
                          <h2><%= service.title %></h2>
                      </header>
                      <p><%= service.description %></p>

                    <%= link_to("Veja Mais", service_path(service), class: 'read-more', alt: 'Veja Mais') %>
                  </article>
                <% end %>

              </section>
              <!--/block-->
            </div> <!--.row-->
        </div>
        <!--/Entry-->

    </div>
</div>
<!--/Body content-->