<div class="full-width-wrapper" id="header">
  <div class="full-width-wrapper" id="abstract-bg">
      <!--Banner-->
      <div class="fixed-width-wrapper" id="banner">
          <a href="/" title="" class="logo">
              <img src="/assets/logo.png" alt="Maxx - The Modern HTML template">
          </a>
    

      <!--Get in touch-->
         
           
              <div id="get-in-touch">
                  <div class="via-phone-number float-left">
                      <a title="Keep in touch with us" class="icon sprite float-left">Keep in touch with us</a>
                      <h2>Fale conosco por telefone: 
                          <strong>51 3566 8992</strong>
                      </h2>
                      <span>Ou <a href="/contato" title="">mande um e-mail</a> para solicitar o nosso contato. 
                      </span>
                  </div>
                  
              </div>
          
          
      <!--/Get in touch-->    
      </div>
      <!--/Banner-->
      <!--Navigation + Search-->
      <div class="fixed-width-wrapper border-radius-5px" id="navigation-bar">
          <div id="g-navigation">
              <ul class="simple-drop-down-menu">
                  <li class="home-page border-radius-left-5px <%= 'current' if simple_menu.active == :home %>">
                      <a href="/">Home</a>
                  </li>
                  <li class="<%= 'current' if simple_menu.active == :about %>">
                      <a href="<%= static_path('sobre-a-empresa') %>" title="">Empresa</a>
                  </li>
                  <li class="<%= 'current' if simple_menu.active == :products %>">
                    <a href="<%= products_path() %>" title="">Produtos</a>
                  </li>
                  <li class="<%= 'current' if simple_menu.active == :services %>">
                    <a href="<%= services_path() %>" title="">Serviços</a>
                  </li>
                  <li class="<%= 'current' if simple_menu.active == :contact %>">
                      <a href="<%= contacts_path() %>" title="">Contato</a>
                  </li>
              </ul>
          </div>
          <!--
          <div id="g-search">
              <form action="" method="post">
                  <div>
                      <input type="text" class="input-field border-radius-left-3px reset-text" value="Pesquise aqui...">
                  </div>
                  <div>
                      <button type="submit" title="Pesquisar" class="sprite">
                          <em>Pesquisar</em>
                      </button>
                  </div>
              </form>
          </div>
      </div>
      -->
      <!--/Navigation + Search-->
  </div>
</div>