<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : breadcrumb.titleize %></title>
  <%= stylesheet_link_tag    "reset", :media => "all" %>
  <%= stylesheet_link_tag    "base", :media => "all" %>
  <%= stylesheet_link_tag    "tipTip", :media => "all" %>
  <%= stylesheet_link_tag    "short-code", :media => "all" %>
  <%= stylesheet_link_tag    "prettyPhoto", :media => "all" %>
  <%= stylesheet_link_tag    "css3", :media => "all" %>
  <%= stylesheet_link_tag    "slider", :media => "all" %>
  <%= stylesheet_link_tag    "short-code", :media => "all" %>
  <%= stylesheet_link_tag    "piecemaker", :media => "all" %>
  <%= stylesheet_link_tag    "ie7", :media => "all" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.nivo.slider" %>
  <%= javascript_include_tag "scripts" %>
  <%= javascript_include_tag "custom" %>
  <%= javascript_include_tag "shortcode" %>
  
  
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].parameterize %>_controller <%= params[:action].parameterize %>_action">
  
  
  <%= raw breadcrumb.prepend("Home","/") %>
  
  <div id="breadcrumb"></div>
  <div id="view_container"><%= yield %></div>

</body>
</html>
