<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : 'Nome do Site' %></title>
  <%= stylesheet_link_tag    "site", :media => "all" %>
  <%= javascript_include_tag "site/products" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].parameterize %>_controller <%= params[:action].parameterize %>_action">
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  
  <div class="menu">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Produtos", products_path %></li>
      <li><%= link_to "Serviços", services_path %></li>
    </ul>
    
  </div>
  
  <div id="breadcrumb"></div>
  <div id="view_container"><%= yield %></div>

</body>
</html>
